#intro-global {
  .wrapper {
    font-family: GlenmorangieSerif-Regular;
    .intro-left, .intro-right {
      width: 100%;
      position: relative;
      overflow: hidden;
      align-items: center;
      justify-content: center;
    }

    .intro-left {
      background: #D3D3D3;
      color: black;
      min-height: 460px;
      .intro-title {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 45px;
        text-align: center;
        margin: auto 50px;
      }
    }
    .intro-right {
      background-size: cover;
      background-position: center;
      transition: 0.25s ease all;
      figure {
        margin: 0;
        img {
          width: 100%;
        }
      }
    }
  }
}

@include media-breakpoint-up(md) {
  #intro-global {
    .wrapper {
      display: flex;

      .intro-left, .intro-right {
        width: 50%;
        min-height: calc(100vh - 99px);
      }

      .intro-left {
        position: relative;
        .intro-title {
          line-height: 45px;
          margin-bottom: 30px;
          margin-left: 34px;
          width: 70%;
          text-align: left;
        }
      }

      .intro-right {
        figure {
          margin: 0;

          img {
            height: calc(100vh - 99px);
            object-fit: cover;
          }
        }
      }
    }
  }
}




