#footer {
  background-color: #4E4E4E;
  color: white;

  .logo, .logo-social {
      filter: brightness(0) invert(1);
  }
  .logo {
    max-width: 150px;
  }
}

.block-contact {
  font-size: 0.875rem;
  color: $gray;

  .block-contact-title {
    color: $gray-darker;
  }

  .navbar-toggler .material-icons {
    color: $gray-darker;
  }

  @include media-breakpoint-down(sm) {
    #contact-infos {
      padding: 0.625rem;
      padding-top: 0;
    }
  }
}

.linklist {
  .blockcms-title a {
    color: $gray-darker;
  }
}

.account-list a {
  color: $gray;

  &:hover {
    color: $brand-primary;
  }
}

.blockcms-title,
.myaccount-title,
.myaccount-title a,
.block-contact-title {
  font-size: $base-font-size;
  font-weight: 700;
}

.footer-container {
  padding-top: $extra-large-space;
  overflow: hidden;

  .h3,
  .h4 {
    margin-bottom: 1rem;
    font-size: 1rem;
  }

  li {
    margin-bottom: 0.3125rem;
  }

  li a {
    font-size: $font-size-sm;
    color: white;
    cursor: pointer;

    &:hover {
      color: $brand-primary;
    }
  }
}

@include media-breakpoint-down(sm) {
  .footer-container {
    margin-top: 0;
    box-shadow: none;
    padding-top: 0;

    .wrapper {
      /* stylelint-disable */
      padding-right: 0 !important;
      padding-left: 0 !important;
      /* stylelint-enable */
    }

    .links {
      .h3 {
        font-size: 1rem;
        line-height: 1.5;
      }

      ul {
        margin-bottom: 0;
        > li {
          font-weight: 600;

          a {
            color: white;
          }
        }
      }
    }
  }

  .links {
  }
}

@include media-breakpoint-down(md) {
  .block-social {
    text-align: center;
  }

  .block-contact {
    padding-left: 1.5rem;
  }
}
